<div class="jumbtron">
    <hr>
    <h1 class="text-center welcome">Bienvenido a MyActivitiesRegistrerApp!</h1>
    <br>
    <h2 class="text-center">Aquí podrás registrar todas tus actividades realizadas</h2>
</div>
