<table class="table table-sm">
    <tr>
        <th>Nombre Usuario</th>
        <th>User</th>
        <th>Fecha Creación</th>
    </tr>
    <tr *ngFor="let usuarios of userService.list"> 
        <td>{{ usuarios.userCompleteName }}</td>
        <td>{{ usuarios.userLogin }}</td>
        <td>{{ usuarios.userCreationDate }}</td>
        <td>
            <i class="far fa-edit fa-lg text-info" (click)="editarUsuario(usuarios)" style="cursor: pointer;"></i>
        </td>
        <td>
            <i class="far fa-trash-alt fa-lg text-danger" (click)="eliminarUsuario(usuarios.userID!)" style="cursor: pointer;"></i>
        </td>
    </tr>
</table>