<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand title" routerLink="/index">MyActivitiesRegistrerApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse links" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/user" routerLinkActive="active" *ngIf="this.loginService.loginSuccessfully && this.userRoleID == 1">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/activity"  routerLinkActive="active" *ngIf="this.loginService.loginSuccessfully">My Activities</a>
        </li>
      </ul>
      <span class="navbar-text">
        <a class="nav-link" href="/login" *ngIf="!this.loginService.loginSuccessfully">Login</a>
        <a class="nav-link" (click)="CerrarSesion()" style="cursor: pointer;" *ngIf="this.loginService.loginSuccessfully">Log Out</a>
      </span>
    </div>
  </nav>