<form [formGroup]="form" (ngSubmit)="crearUsuario()">
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-user-circle" [class.green-icon]="this.form.get('nombreCompleto')!.valid" [class.red-icon]="this.form.get('nombreCompleto')!.invalid && this.form.get('nombreCompleto')!.touched"></i>
                </div>
            </div>
            <input type="text" class="form-control" placeholder="Nombre de Usuario" formControlName="nombreCompleto" maxlength="250">
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="far fa-id-badge" [class.green-icon]="this.form.get('user')!.valid"  [class.red-icon]="this.form.get('user')!.invalid && this.form.get('user')!.touched"></i>
                </div>
            </div>
            <input type="text" class="form-control" placeholder="User" formControlName="user"  maxlength="100">
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-lock" [class.green-icon]="this.form.get('password')!.valid"  [class.red-icon]="this.form.get('password')!.invalid  && this.form.get('password')!.touched"></i>
                </div>
            </div>
            <input type="password" class="form-control" placeholder="Password" formControlName="password">
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <select class="form-control" formControlName="userRole" required>
                <option disabled selected>Selecciona un rol de usuario</option>
                <option *ngFor="let rol of userRoleService.list" [value]="rol.userRoleID"> {{ rol.userRoleName }} </option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-success btn-lg btn-block" [disabled]="form.invalid" type="submit"><i class="fas fa-user-plus"></i>  Crear usuario</button>
    </div>
</form>
