<form [formGroup]="form" (ngSubmit)="crearActividad()">
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-calendar" [class.green-icon]="this.form.get('nombreActividad')!.valid" [class.red-icon]="this.form.get('nombreActividad')!.invalid && this.form.get('nombreActividad')!.touched"></i>
                </div>
            </div>
            <input type="text" class="form-control" placeholder="Nombre de Actividad" formControlName="nombreActividad" maxlength="250">
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <textarea cols="10" rows="5" class="form-control" placeholder="Descripcion de Actividad" formControlName="descripcionActividad"  maxlength="250"></textarea>
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-success btn-lg btn-block" [disabled]="form.invalid" type="submit"><i class="fas fa-user-plus"></i>  Crear Actividad</button>
    </div>
</form>
