<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    404 Not Found</h2>
                <div class="error-details">
                    Lo sentimos, la página que intenta acceder no existe.
                </div>
                <div class="error-actions">
                    <a routerLink="/index" class="btn btn-primary btn-lg"> 
                        <i class="fas fa-home"></i>   Ir al Index
                    </a>   
                </div>
            </div>
        </div>
    </div>
</div>
