<div class="container time-container">
    <h1 class="display-4 text-center title">Tiempo de Actividad</h1>
    <hr>
    <div class="row">
        <div class="col-md-5">
            <h6 class="text-center">
                Agregar Tiempo a Actividad
            </h6> 
            <app-time></app-time>
        </div>
        <div class="col-md-7">
            <h6 class="text-center">
                Tiempo asignado a esta Actividad
            </h6>
            <app-list-time></app-list-time>
        </div>
    </div>
</div>
