<div class="container login-container">
    <h1 class="text-center title">Login</h1>
    <hr>
    <form [formGroup]="form" (ngSubmit)="IniciarSesion()">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                        <i class="fas fa-user-circle" [class.green-icon]="this.form.get('user')!.valid"  [class.red-icon]="this.form.get('user')!.invalid  && this.form.get('user')!.touched"></i>
                    </div>
                </div>
                <input type="text" class="form-control" placeholder="Nombre de Usuario"  formControlName="user">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                        <i class="fas fa-lock" [class.green-icon]="this.form.get('password')!.valid"  [class.red-icon]="this.form.get('password')!.invalid  && this.form.get('password')!.touched"></i>
                    </div>
                </div>
                <input type="password" class="form-control" placeholder="Contraseña"  formControlName="password">
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-lg btn-block" [disabled]="form.invalid">Ingresar</button>
        </div>
    </form>
</div>

