<table class="table table-sm">
    <tr>
        <th>Tiempo Asignado</th>
        <th>Fecha Asignación</th>
    </tr>
    <tr *ngFor="let tiempo of timeService.list"> 
        <td>{{ tiempo.activityTimeHour }}</td>
        <td>{{ tiempo.activityTimeDate }}</td>
        <td>
            <i class="far fa-edit fa-lg text-info" (click)="editarTiempo(tiempo)" style="cursor: pointer;"></i>
        </td>
        <td>
            <i class="far fa-trash-alt fa-lg text-danger" (click)="eliminarTiempo(tiempo.activityTimeID!)" style="cursor: pointer;"></i>
        </td>
    </tr>
</table>
