<div class="container user-container">
    <h1 class="display-4 text-center title">Creación de Usuarios</h1>
    <hr>
    <div class="row">
        <div class="col-md-5">
            <h6 class="text-center">
                Agregar Usuario
            </h6>
            <app-user></app-user>    
        </div>
        <div class="col-md-7">
            <h6 class="text-center">
                Listado de Usuarios
            </h6>
            <app-list-user></app-list-user>
        </div>
    </div>
</div>