@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');

.user-container  {
    background-color: white;
    opacity: 0.8;
}

:host{
    display: flex;
    justify-content: center;
    margin: 100px 0;
}

h1.title{
    font-family: 'Otomanopee One';
}