<div class="modal-header">
    <h4 class="modal-title">Registrar tiempo en Actividad</h4>
</div>
<div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="crearTiempo()">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                        <i class="far fa-clock" [class.green-icon]="this.form.get('tiempoAsignado')!.valid"  [class.red-icon]="this.form.get('tiempoAsignado')!.invalid  && this.form.get('tiempoAsignado')!.touched"></i>
                    </div>
                </div>
                <input type="number" class="form-control" min="0" max="8" formControlName="tiempoAsignado">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                        <i class="far fa-calendar-alt" [class.green-icon]="this.form.get('fechaTiempoAgregado')!.valid"  [class.red-icon]="this.form.get('fechaTiempoAgregado')!.invalid  && this.form.get('fechaTiempoAgregado')!.touched"></i>
                    </div>
                </div>
                <input type="date" class="form-control" formControlName="fechaTiempoAgregado">
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-success btn-lg btn-block" type="submit" [disabled]="form.invalid"><i class="far fa-hourglass"></i> Registrar Tiempo</button>
        </div>
        <div class="form-group">
            <button class="btn btn-info btn-lg btn-block" routerLink="/activity">Regresar</button>
        </div>
    </form>
</div>
<div class="modal-footer">

</div>