<div class="container activity-container">
    <h1 class="display-4 text-center title">Creación de Actividades</h1>
    <hr>
    <div class="row">
        <div class="col-md-5">
            <h6 class="text-center">
                Agregar Actividad
            </h6> 
            <app-activity></app-activity>
        </div>
        <div class="col-md-7">
            <h6 class="text-center">
                Listado de Actividades
            </h6>
            <app-list-activity></app-list-activity>
        </div>
    </div>
</div>