/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');

input.ng-touched.ng-invalid{
    border-color: #dc3545;
}

input.ng-valid{
    border-color: #28a745;
}

.green-icon{
    color: #28a745;  
}

.red-icon{
    color: #dc3545;  
}

a.title{
    font-family: 'Otomanopee One';
}

body{
    background-image: url("https://thumbs.dreamstime.com/b/modelo-de-m%C3%A1rmol-blanco-del-fondo-del-extracto-de-la-textura-con-la-alta-resoluci%C3%B3n-90469860.jpg");
}