<table class="table table-sm">
    <tr>
        <th>Nombre de Actividad</th>
        <th>Descripción de Actividad</th>
        <th *ngIf="this.userRoleID == 1">Usuario</th>
    </tr>
    <ng-container *ngIf="this.userRoleID == 1">
        <tr *ngFor="let actividades of activityService.listUserActivities"> 
            <td>{{ actividades.activityName }}</td>
            <td>{{ actividades.activityDescription }}</td>
            <td>{{ actividades.userName }}</td>
            <td>
                <i class="far fa-edit fa-lg text-info" (click)="editarActividad(actividades)" style="cursor: pointer;"></i>
            </td>
            <td>
                <i class="far fa-trash-alt fa-lg text-danger" (click)="eliminarActividad(actividades.idActivity!)" style="cursor: pointer;"></i>
            </td>
            <td>
                <i class="far fa-clock fa-lg text-info" style="cursor: pointer;" [routerLink]="['/time', actividades.idActivity]"></i>
            </td>
        </tr>
    </ng-container>
    <ng-container  *ngIf="this.userRoleID == 2">
        <tr *ngFor="let actividades of activityService.list"> 

            <td>{{ actividades.activityName }}</td>
            <td>{{ actividades.activityDescription }}</td>
            <td>
                <i class="far fa-edit fa-lg text-info" (click)="editarActividad(actividades)" style="cursor: pointer;"></i>
            </td>
            <td>
                <i class="far fa-trash-alt fa-lg text-danger" (click)="eliminarActividad(actividades.activityID!)" style="cursor: pointer;"></i>
            </td>
            <td>
                <i class="far fa-clock fa-lg text-info" style="cursor: pointer;" [routerLink]="['/time', actividades.activityID]"></i>
            </td>
        </tr>
    </ng-container>
</table>